.account-user {
        background-color:#fde3cf;
        color: #f56a00;
        margin-right: 0;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    position: fixed;
    width:100%;
    z-index: 99;
}

.logo {
    width: 120px;
    height: 40px;
}

.text-right{
    text-align: right;
}